{%extends 'assignment/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
    <div class="content_section">
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom-mb-4">Password Reset Form</legend>
                <!--{{form.as_p}}-->
                {{ form|crispy }}
                </fieldset>
            <div class="form-group">
                <button class="btn waves-effect waves-light" type="submit" name="action">Password Reset Request
                <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{%endblock content%}