{% extends 'assignment/base.html' %}
{% block content %}
<style>
strong{
  color:red;
}
p,ol{
  color:white;
}
span{
  color:white;
}
img{
  border:5px solid #fff;
}
</style>
<div class="media">
<a href='../../../media/culturalday.JPG'>
<img class="img-fluid rounded-rectange account-img" src="../../../media/18030121073.jpeg" style='float:left; width:16%; height:16%' alt='Saatvik Gulati'></a>
  <div class='row'>
            <div class='col  s5 m5 l10'>
            <div class='card blue-grey darken-1'>
            <div class='card-content white-text black'>
            <span class='card-title'>Saatvik Gulati</span>
            </div>
            <div class='card-action'>
            <p class='m-auto'>Hello everyone I am Saatvik Gulati the creator of this Student Management System (SMS)
            <br/>
            I am currrently pursuing BCA in SICSR (Symbosis Institute of Computer Science and Research)
            <br/>
            I have created this project as a part of my dessertation.
            <br/>
            I have chosen this topic because,
            <br/>
            during the lockdown it made me think how the colleges that don't have financial power going to sustain?
            <br/>
            So for a way for teachers to communicate with the students I picked this topic and started creating a project on it.
            </p>
            </div>
            </div>
            </div>



            <div class='col  s5 m5 l12'>
            <div class='card blue-grey darken-1'>
            <div class='card-content white-text black'>
            <span class='card-title'>How it Works?</span>
            </div>
            <div class='card-action'>
            <ol>
            <li>Teacher or Student login through there particular logins</li>
            <li>Teacher can post new assignment and Students can answer them <strong>Before due date</strong></li>
            <li>Teacher and student both have there dashboard to view certain functionalities</li>
            <li>The teacher can only give marks to there students and not other students</li>
            <li>Students <strong>can't</strong> give marks to there peers or update or delete the assignments</li>
            <li>There can only be <strong>one</strong> answer submission per student</li>
            <li>Students <strong>won't</strong> be allowed to update and delete answers after the assignment expires</li>
            <li>Teachers <strong>won't</strong> be allowed to update the assignment after the due date but they can delete it</li>
            <li>Teachers can give marks to a particular students answer</li>
            </ol>
            </div>
            </div>
            </div>
            </div>
            </div>
</div>
{% endblock content %}